@model ViewModels.GameBoardData
@using Services


@{
    //Načtu dvourozměrné pole
    IEnumerable<IEnumerable<NavyBattlePiece>> board = Model.MakeGameBoard(Model.NavyBattlePieces);
}


@*Ready for better solution*@

<div>
    <table class="game-board-table">
        <tbody>
            @foreach (IEnumerable<NavyBattlePiece> row in board)
            {
                <tr>
                    @foreach (NavyBattlePiece navyBattlePiece in row)
                    {

                        @if (navyBattlePiece.Hidden)
                        {
                            <td class="@navyBattlePiece.PieceState">
                                    <a asp-page="@Model.PageHandler" asp-route-Id="@navyBattlePiece.Id" class="stretched-link " name="pieceId">.</a>
                            </td>
                        }
                        else
                        {
                            <td class="@navyBattlePiece.PieceState">
                                    <a asp-page="@Model.PageHandler" asp-route-Id="@navyBattlePiece.Id" class="stretched-link " name="pieceId">.</a>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    @if (Model.PageHandler != "GameSetup")
    {
        <p class="text-primary" style="font-size:large; font-weight:500; text-align:center;">@Model.UserGame.ApplicationUser.PlayerName</p>
    }
    else
    {

        <p class="text-primary" style="font-size:large; font-weight:500; text-align:center;">@Model.Ship.Name</p>
    }
</div>


