@model ViewModels.GameBoardData
@using Services


@{
    //Načtu dvourozměrné pole
    IEnumerable<IEnumerable<NavyBattlePiece>> board = Model.MakeGameBoard(Model.NavyBattlePieces);
}
@if (Model.PageHandler != "GameSetup")
{
    <div>
        <table class="table table-bordered">
            <tbody>
                @foreach (IEnumerable<NavyBattlePiece> row in board)
                {
                    <tr style="">
                        @foreach (NavyBattlePiece navyBattlePiece in row)
                        {
                            if (navyBattlePiece.PieceState == PieceState.HitShip)
                            {
                                <td class="bg-dark">
                                    <div class="media position-relative">
                                        <a asp-page="@Model.PageHandler" asp-route-Id="@navyBattlePiece.Id" class="stretched-link " name="pieceId">.</a>
                                    </div>
                                </td>
                            }
                            else if (navyBattlePiece.PieceState == PieceState.HitWater)
                            {
                                <td class="bg-primary ">
                                    <div class="media position-relative">
                                        <a asp-page="@Model.PageHandler" asp-route-Id="@navyBattlePiece.Id" class="stretched-link " name="pieceId">.</a>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td class="table-light">
                                    <div class="media position-relative">
                                        <a asp-page="@Model.PageHandler" asp-route-Id="@navyBattlePiece.Id" class="stretched-link " name="pieceId">.</a>
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
        <p class="text-primary" style="font-size:large; font-weight:500; ">@Model.UserGame.ApplicationUser.PlayerName</p>
    </div>
}
else
{
<div>
    <table class="table table-bordered">
        <tbody>
            @foreach (IEnumerable<NavyBattlePiece> row in board)
            {
                <tr style="">
                    @foreach (NavyBattlePiece navyBattlePiece in row)
                    {
                        if (navyBattlePiece.PieceState == PieceState.Ship)
                        {

                            <td class="bg-dark">
                                @*<p>y: @navyBattlePiece.PosY x: @navyBattlePiece.PosX</p>*@
                            </td>
                        }
                        else if (navyBattlePiece.PieceState == PieceState.Margin)
                        {

                            <td class="table-secondary ">
                                @*<p>y: @navyBattlePiece.PosY x: @navyBattlePiece.PosX</p>*@
                            </td>
                        }
                        else
                        {

                            <td class="bg-primary ">
                                @*<p>y: @navyBattlePiece.PosY x: @navyBattlePiece.PosX</p>*@
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    <p class="text-primary" style="font-size:large; font-weight:500; ">@Model.Ship.Name</p>
</div>
}




