@model ViewModels.GameBoardData
@using Services


@{
    //Načtu dvourozměrné pole
    IEnumerable<IEnumerable<NavyBattlePiece>> board = Model.MakeGameBoard(Model.NavyBattlePieces);
}

<div>
    <table class="table table-bordered" >
        <tbody>
            @foreach (IEnumerable<NavyBattlePiece> row in board)
            {
                <tr style="height:30px;">
                    @foreach (NavyBattlePiece navyBattlePiece in row)
                    {
                        if (navyBattlePiece.PieceState == PieceState.HittedShip)
                        {
                            <td  class="table-dark" >
                                <p>@navyBattlePiece.PosX</p><p>@navyBattlePiece.PosY</p>
                                @* <a href="" asp-page-handler="fire" method="post" name="pieceId" value="@navyBattlePiece.Id"></a>*@
                            </td>
                        }
                        else if (navyBattlePiece.PieceState == PieceState.HittedWater)
                        {
                            <td class="table-primary" >
                                <p>@navyBattlePiece.PosX</p><p>@navyBattlePiece.PosY</p>
                                @*<a href="" asp-page-handler="fire" method="post" name="pieceId" value="@navyBattlePiece.Id"></a>*@
                            </td>
                        }
                        else
                        {
                            <td>
                                <p>@navyBattlePiece.PosX</p><p>@navyBattlePiece.PosY</p>
                                @*<a href="" asp-page-handler="fire" method="post" name="pieceId" value="@navyBattlePiece.Id"></a>*@
                            </td>
                        }

                    }
                </tr>
            }

        </tbody>
    </table>
    @* <p>@Model.UserGame.ApplicationUser.PlayerName</p>*@
</div>
<div>
</div>