@page
@model BattleShips.GameSetupModel
@{
    ViewData["Title"] = "GameSetup";
}

<br />
<br />

<h3>Number of Players</h3>
<form id="gameform" method="post" asp-page-handler="setgame">
    <div class="form-group">
        <select name="maxPlayers" asp-for="@Model.MaxPlayers" class="form-control" id="exampleSelect">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>


    <h3>Board Size</h3>
    <div class="form-group">
        <select name="gameSize" asp-for="@Model.GameSize" class="form-control" id="exampleSelect">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>

            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
        </select>
    </div>
</form>


<h3>Types of Ships</h3>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayNameFor(m => m.Ship.Select)</th>
            @*<th>@Html.DisplayNameFor(m => m.Ship.Name)</th>*@
            <th class="text-center">@Html.DisplayNameFor(m => m.Ship.Picture)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SetupShips)
        {
            <tr>
                @if (item.ShipGame is null)
                {
                    <th style="text-align:center;" class="align-middle">
                        <form method="post" asp-page-handler="addship">
                            <input type="hidden" name="id" value="@item.Ship.Id" />
                            <button class="btn btn-primary pt-3 pb-3 pl-4 pr-4" >Add</button>
                        </form>
                    </th>
                }
                else
                {
                    <th style="text-align:center;" class="align-middle">
                        <form method="post" asp-page-handler="delete">
                            <input type="hidden" name="id" value="@item.ShipGame.Id" />
                            <button class="btn btn-danger p-3">Delete</button>
                        </form>
                    </th>
                }
                @*<th>
                    @item.Ship.Name
                </th>*@
                <th>
                    <div>
                        <partial name="_GameBoard" model="item.GameBoard" />
                    </div>
                </th>
            </tr>
        }
    </tbody>
</table>


@foreach (var gameBoard in Model.GameBoards)
{
    <partial name="_GameBoard" model="gameBoard" />
}

<button type="submit" form="gameform" class="btn btn-primary">
    Start Ship Placement
</button>
