@page
@model BattleShips.GameListModel
@{
    ViewData["Title"] = "GameList";
}


@if (Model.MessageSuccess?.Length > 0)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">@TempData["MessageSuccess"]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
}
@if (Model.MessageError?.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">@TempData["MessageError"]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
}


<h2>My Games</h2>
<div class="row">
    <div class="col">
        @if (Model.UsersGames.Count() > 1)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Game State</th>
                        <th>Round</th>
                        <th>Owner</th>
                        <th>Current player</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>


                    @foreach (var item in Model.UsersGames)
                    {
                        <tr>
                            <td>@item.GameState</td>
                            <td>@item.GameRound</td>
                            <td>@item.Owner.UserName</td>
                            <td>@item.CurrentPlayer.UserName</td>
                            <td>
                                <form method="post" asp-page-handler="playgame">
                                    <button class="btn btn-primary">Play</button>
                                    <input type="hidden" name="id" value="@item.Id" />
                                </form>
                            </td>
                            @if (Model.UserId == item.OwnerId)
                            {
                                <td>
                                    <form method="post" asp-page-handler="removegame">
                                        <button class="btn btn-danger">Delete</button>
                                        <input type="hidden" name="id" value="@item.Id" />
                                    </form>
                                </td>

                            }

                        </tr>
                    }

                </tbody>


            </table>
        }
        else
        {

            <p> You are not playing any games at the moment!</p>

        }
    </div>
</div>


<h2>Other Games</h2>
<div class="row">
    <div class="col">
        @if (Model.OtherGames.Count() > 1)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Game State</th>
                        <th>Round</th>
                        <th>Owner</th>
                        <th>Current player</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.OtherGames)
                    {
                        <tr>
                            <td>@item.GameState</td>
                            <td>@item.GameRound</td>
                            <td>@item.Owner.UserName</td>
                            <td>@item.CurrentPlayer.UserName</td>
                            <td>
                                <form method="post" asp-page-handler="joinshipplacement">
                                    <button class="btn btn-primary">Join</button>
                                    <input type="hidden" name="id" value="@item.Id" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>


            </table>
        }
        else
        {

            <p> There are no games to join at the moment!</p>


        }
    </div>
</div>
