@page
@model BattleShips.Pages.Administration.Users.ListModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Users List</h1>
<h4>@TempData["FormResult"]</h4>

<form method="get" class="float-sm-right">
    <input type="hidden" name="handler" value="search" />
    <input type="text" name="searchTerm" />
    <input type="submit" class="btn btn-primary" value="Search" />
</form>
<form method="post" class="float-sm-left">
    <input type="submit" class="btn btn-success" value="Create New User" />
</form>
<br />
<hr />
<table class="table table-striped">
    <thead class="thead-dark">
        <tr class="row">
            <th class="col-3">Email</th>
            <th class="col-3">Player Name</th>
            <th class="col-3">Total Played Games</th>
            <th class="col-3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr class="row">
                <td class="col-3">@user.Email</td>
                <td class="col-3">@user.PlayerName</td>
                <td class="col-3">@user.TotalPlayedGames</td>
                <td class="col-3"><a asp-page="./Detail" asp-route-Id="@user.Id" class="btn btn-primary">Detail</a></td>
            </tr>
        }
    </tbody>
</table>